.quote{
  color: white;  
  text-align: center;
  Margin-top: 5%;
  font-size: 25px;
   margin-left: 15%;
  margin-right: 15%;
}
.text-class{
  text-align: center;
  color: white;
  text-decoration: underline;
  font-size: 35px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}
.text-facts{
 margin-left: 15%;
 margin-right: 15%;
 margin-top: 5%;
 color: white;
 font-size: 20px;
 text-align: left;
}
.image {  
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;  
  width: 80%;
}

body{
  background-color: #81775C;
}
.text-reference{
  color: pink;
  position: absolute;
  right: 10px;
  text-align: right;
}
a{
  color: orange;
}
h1{
  font-size: 80px;
  font-family: "Times New Roman", "Times";
  text-align: center;
  color: white;
  text-decoration: underline;
  margin-left: 10%;
  margin-right: 10%;
}


